go 1.23.0

toolchain go1.23.10

use (
	./pipeline/blob-monitor
	./pipeline/config
	./pipeline/events
	./pipeline/extraction
	./pipeline/ingest
	./pipeline/log-tail
	./pipeline/traces
	./tools/kafka-init
	./tools/opensearch-init
)
